modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Metro"

[[workflows.workflow]]
name = "Start Metro"
author = 45357899
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx react-native start"

[[ports]]
localPort = 8081
externalPort = 80
